.aboutus-wrapper {
  text-align: left;
  color: #fff;
  background: linear-gradient(to top, #0e2b49, #111e2c);
  .resume {
    padding: 50px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #0e2b49, #111e2c);
    color: rgba(255, 255, 255, 0.95);
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: "微軟正黑體", sans-serif;
  }

  /* 複寫區 */

  ul {
    padding: 0;
    list-style: none;
  }

  h2 {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;

    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 8px;
      background-color: #ff7168;
      margin-left: 10px;
    }
  }
  h1 {
    margin: auto;
  }
  h5 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  h4 {
    margin: 0;
    margin-top: 20px;
    opacity: 0.8;
    font-weight: 400;
  }
  h6 {
    margin-top: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  hr {
    border: none;
    border-bottom: solid 4px #ff7168;
    width: 100%;
    margin-left: 0;
  }

  .resume {
    display: flex;
    margin-left: 70px;
    padding: 50px;
    position: relative;
    margin-top: -50px;
    @media only screen and (max-width: 768px) {
      padding: 0px;
      display: block;
      margin-top: 0px;
      margin-left: 0px;
    }
  }

  .left {
    flex: 5;
  }

  .right {
    flex: 7;
  }

  .left,
  .right {
    padding: 15px;
  }

  .left {
    padding-right: 50px;
    padding-top: 200px;
    border-right: solid 1px #ff7168;
    @media only screen and (max-width: 768px) {
      padding: 15px;
      border-right: none;
    }
  }

  .right {
    padding-left: 50px;
    // padding-top: 150px;
    @media only screen and (max-width: 768px) {
      padding: 15px;
    }
  }

  .decoration {
    width: 300px;
    height: 140px;
    background: linear-gradient(135deg, #ff5f5f, #ffffae);
    border-radius: 0px 70px 70px 0px;
    position: absolute;
    left: 0;
    top: 50px;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  .listExperience {
    h4 {
      margin-top: 0;
      b {
        color: #fff;
      }
    }
    > li {
      display: flex;
      margin-bottom: 10px;

      &:nth-child(1) ul {
        border-color: #ff7168;
      }

      &:nth-child(2) ul {
        border-color: #ffa582;
      }

      &:nth-child(3) ul {
        border-color: #ffb087;
      }

      &:nth-child(4) ul {
        border-color: #ffde9e;
      }
    }

    li ul {
      padding-left: 10px;
      margin-left: 10px;
      border-left: solid 4px white;
    }
  }

  /* list skill */

  .listSkill {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 33.3%;
      padding: 5px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .circle {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 113, 104, 0.4);

    &::after {
      content: "";
      display: block;
      background-color: #c31432;
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      border-radius: 50%;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .p90,
  .p180,
  .p270,
  .p360 {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    background-color: #ff7168;
  }

  .p180 {
    top: 50%;
  }

  .p270 {
    left: 0;
    top: 50%;
  }

  .p360 {
    left: 0;
    top: 0;
  }

  /* list program */

  .listProgram {
    .bar {
      width: 150px;
      height: 10px;
      border: solid 2px #ff7168;
      border-radius: 5px;
    }

    li {
      display: flex;
      align-items: center;
      align-items: flex-start;
      flex-direction: column;
      h6 {
        padding-left: 15px;
        margin-bottom: 5px;
      }
    }
  }
  .tag-cloud {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    span {
      background: #fff;
      color: #999;
      padding: 2px 5px;
      border-radius: 5px;
      margin: 5px;
      &:hover {
        background: rgb(0, 217, 255);
        color: #fff;
      }
    }
  }
  .value {
    height: 100%;
    width: 60%;
    background-color: #ff7168;

    &.p10 {
      width: 10%;
    }

    &.p20 {
      width: 20%;
    }

    &.p30 {
      width: 30%;
    }

    &.p40 {
      width: 40%;
    }

    &.p50 {
      width: 50%;
    }

    &.p60 {
      width: 60%;
    }

    &.p70 {
      width: 70%;
    }

    &.p80 {
      width: 80%;
    }

    &.p90 {
      width: 90%;
    }

    &.p100 {
      width: 100%;
    }
  }

  .btn {
    border: solid 3px #ff7168;
    padding: 5px 20px;
    margin-right: 10px;
  }

  .fill {
    background-color: #ff7168;
  }
}
.year {
  h5 {
    margin: 15px 0;
  }
  h6 {
    margin: 15px 0;
  }
}
